// App Grid

#overview {
  padding-top: 48px;
}

.icon-grid {
  row-spacing: 18px;
  column-spacing: 18px;
}

.overview-icon.overview-icon-with-label {
  font-weight: bold;
  text-shadow: black 0px 2px 2px;
}

// Page Indicators

.page-indicator {
  padding: 15px 12px;
  .page-indicator-icon {
    box-shadow: 0 0 4px 3px black;
  }
}

// Search Entry

StEntry.search-entry {
  width: 350px;
  height: 38px;

  margin-top: 8px;
  padding: 0 12px 0 0;

  font-size: 11.5pt;

  color: #484645;
  selected-color: #ededed;
  caret-color: #333;
  background-color: rgba(255, 255, 255, 0.8);

  border-width: 0;
  border-radius: 19px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);

  -minimum-vpadding: 48px;

  .hint-text {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;

    font-size: 12pt;
    color: #424040;
  }

  .search-entry-icon.primary {
    background-gradient-start: rgba(255,95,42,0.9);
    background-gradient-end: rgba(248,63,0,0.9);
    background-gradient-direction: vertical;

    color: white;
    padding: 0;

    width: 38px;
    height: 38px;
    border-radius: 19px;

    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.25);
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.95);
  }

  &:rtl {
    padding-left: 12px;
    padding-right: 0px;
  }
}

// Search Results

%search-label-main {
  font-size: 11pt;
  font-weight: bold;
}

%search-label-color {
  color: #444444;
}

%search-result-hover { background-color: rgba(226,226,226,0.9); }
%search-result-selected { background-color: rgba(208,208,208,0.9); }
%search-result-active { background-color: rgba(192,192,192,0.9); }

#searchResultsBox {
  max-width: 875px;
}

#searchResults {
  background-color: rgba(255,255,255,0.92);
  border-radius: 4px;

  .search-statustext {
    color: #242424;
    font-size: 2em;
    font-weight: bold;
  }

  .search-results-close-button StIcon {
    @extend %search-label-color;
    icon-size: 14px;
    padding: 6px 6px 0 0;
  }
}

#searchResultsContent {
  margin-left: 50px;
  margin-right: 60px;
  margin-bottom: 10px;
}

.search-display {
  spacing: 0px;

  & > StBoxLayout { padding: 0; }

  // The fade effect looks broken, disable it
  -st-hfade-offset: 0;
  -st-vfade-offset: 0;

  .grid-search-results .app-well-app,
  .grid-search-results .grid-search-result {
    .overview-icon.overview-icon-with-label {
      @extend %search-label-main;
      @extend %search-label-color;
      text-shadow: none;
    }

    &:hover .overview-icon.overview-icon-with-label {
      @extend %search-result-hover;
    }
    &:focus .overview-icon.overview-icon-with-label,
    &:selected .overview-icon.overview-icon-with-label {
      @extend %search-result-selected;
    }
    &:active .overview-icon.overview-icon-with-label {
      @extend %search-result-active;
    }

  }

  .search-section-content {
    background-color: white;
    padding: 8px;
    spacing: 18px; /* space between provider icon and results container */

    .search-provider-icon {
      &:hover { @extend %search-result-hover; }
      &:focus, &:selected { @extend %search-result-selected; }
      &:active { @extend %search-result-active; }

      .list-search-provider-details {
        @extend %search-label-main;
        @extend %search-label-color;
      }
    }

    .list-search-results {
      spacing: 0px;

      .list-search-result {
        padding: 6px;
        transition-duration: 100ms;

        &:hover { @extend %search-result-hover; }
        &:focus, &:selected { @extend %search-result-selected; }
        &:active { @extend %search-result-active; }

        .list-search-result-content {
          spacing: 10px;
          padding: 0px;
          min-height: 32px;

          .list-search-result-title {
            @extend %search-label-main;
            @extend %search-label-color;
            font-size: 13pt;
          }

          .list-search-result-description {
              @extend %search-label-color;
          }
        }
      }
    }
  }
}
