Source: eos-desktop-extension
Section: gnome
Priority: optional
Maintainer: Endless OS Maintainers <maintainers@endlessos.org>
Build-Depends:
 libglib2.0-bin (>= 2.62),
 debhelper-compat (= 12),
 meson (>= 0.40.0),
 sassc (>= 3.5.0)
Standards-Version: 4.4.0
Homepage: https://github.com/endlessm/eos-desktop-extension
Vcs-Browser: https://github.com/endlessm/eos-desktop-extension
Vcs-Git: https://github.com/endlessm/eos-desktop-extension.git

Package: eos-desktop-extension
Architecture: all
Depends:
 eos-theme,
 eos-shell-content,
 gnome-shell (>= 41.0),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Endless OS desktop extension for GNOME Shell
